html,
body{
    height: 100vh;
    overflow: hidden;
}
body{
    font-size: 16px;
    margin: 0;
    font-family: 'Asap Condensed', sans-serif;
    position: relative;
}

.large-title {
    font-size: 6rem;
    font-family: 'Playfair Display', serif;
    padding: 10px 40px 20px;
    -webkit-box-shadow: 0px 0px 120px -13px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 120px -13px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 120px -13px rgba(0,0,0,0.54);
}
@keyframes swim {
    from {right: -1rem;}
    to {right: 100vw;}
}
@keyframes upndown{
    from{bottom: -100px;}
    to{bottom: 0px;}
}

.water{
    font-weight: bold;
    position: absolute;
    font-size: 6rem;
    color: #0D47A1;
    animation: swim 1s infinite linear, upndown 1s infinite ease-in-out alternate;
    right: -1rem;
    
    bottom: -50px;
}



