* {
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #41494d;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
	font-family: 'Secular One', sans-serif;
}

/*
.topBox{
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    background-color: #F44336;
    height: 30vw;
    width: 30vw;
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-left: -15vw;
    margin-top: -15vw;
    padding-left: 6%;
    cursor: pointer;
    transition: all 0.1s;
}

.title {
    position: absolute;
    bottom: 0;
    font-size: 3vw;
    font-weight: 700;
    font-family: "Open Sans";
    color: #fff;
}

@media (max-width: 1000px) {
    .topBox{
        margin-left: -150px;
        margin-top: -150px;
        padding-left: 50px;
    }
    .title{
        font-size: 30px;
    }
    
}
@media (min-width: 1000px){
    .topBox:hover{
        height: 34vw;
        width: 34vw;
        margin-left: -17vw;
        margin-top: -17vw;
        padding-left: 8%;
    }
}
.optioncontainer{
    align-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
    
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
.option{
    background-color: #eee;
    color: #000 !important;
    margin: 0 auto 30px auto;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    height: 200px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    border-bottom: 4px solid #f44336;
    
    transition: all 0.2s;
}
.option:hover{
    background-color: #eee;
    box-shadow: 0px 15px 31px 0px rgba(0,0,0,0.4);
}
.group {
    width: 40%;
    min-width: 180px;
    margin: 0 20px 0 0;    
}
@media (max-width: 666px){
    .option{
        
    }
    .group{
        width: 80%;
    }
    .optioncontainer{
        padding-top: 5vh;
        max-height: 100vh;
        overflow: scroll;
        width: 100vw;
    }
}
.bigbox{
    transition: all 0.2s;
    position: absolute;
    background-color: #B71C1C;
    z-index: 999;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 31px 0px rgba(0,0,0,0.75);
}
.expandbox{
    width: 120%;
    margin: 0;
    pading: 0;
    height: 50vh;
}
.up {
    position: absolute;
    bottom: 0;
}
.down{
    top: 0;
}
.right{
    right: 0;
}
.left{
    left: 0;
}*/

.pic {
	height: 100vh;
	width: 60vw;
	background-size: cover;
	position: absolute;
	background-image: url(../wideshot.JPG);
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	background-color: rgba(110, 255, 205, 0.37);
	background-blend-mode: difference;

}



.pic h1 {
	color: #fff;
	font-size: 10vw;
}

.header-section {
	height: 100vh;
	position: relative;
	display: flex;
}

.sideWrap {
	position: absolute;
	width: 30vw;
	right: 0;
}
.wrapText{
    float:left;
    shape-outside: ellipse(33% 65% at 10px 50%);
    width:100%;
    height:100%;
}
.sideText {
	position: absolute;
	z-index: 5;
	height: 100vh;
	padding: 3vw;
	right: 0;
	width: 60vw;
}

.profile-pic {
	margin: 0px 20px;
    position: absolute;
    right: 0px;
	border-radius: 50%;
/*	float: right;*/
	overflow: hidden;
	height: 60px;
	width: 60px;
}

.profile-pic img {
	height: 100%;
	width: 100%;
}

.image-cover {
	width: 100vw;
	top: -20%;
	height: 140%;
	position: relative;
	overflow: hidden;
}

.image-cover:before {
	content: '';
	position: absolute;
	right: 40vw;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 400px 0px 0px 300px #fff;
	max-width: 1024px;
}

.sideBit {
	position: absolute;
	background-color: white;
	margin-top: -10vh;
	height: 120vh;
	width: 40vw;
	right: 0;
	transform-origin: center left;
	transform: rotate(7deg);
	z-index: 4;
}

.part2 {
	background-color: rgb(247, 247, 247);
	position: relative;
	z-index: 5;
	padding: 4%;
	/*	box-shadow: inset 0px 14px 50px -19px rgba(0, 0, 0, 0.48);*/
	min-height: 100vh;
}


a.project-outer {
	color: inherit;
	text-decoration: none;
}

.project-outer:hover .projectLink {
	width: 66%;
}

.project-outer:hover .projectImage {

	transition: all 0.1s;
}

.project-outer:hover .projectImage img {
	right: -2%;
	left: -4%;
	transition: all 0.1s;
}

.project {
	margin: auto;
	max-width: 1000px;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	margin-top: 3%;
	box-shadow: 0px 5px 30px -4px rgba(0, 0, 0, 0.1);
	transition: all 0.1s;
}

.project > .projectImage {
	height: inherit;
	width: 40%;
	position: relative;
	overflow: hidden;
	border-radius: 0px 10px 10px 0px;
	transition: all 0.1s;
}

.projectImage img {
	position: absolute;
	left: 0%;
	height: 100%;
	width: 400px;
	object-position: center;
	transition: all 0.1s;
}

.project .projectLink {
	padding: 2% 3%;
	width: 60%;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	border-right: 10px solid #ffba00;
}

.projectLink .projectLink-inner {
	width: 47vw;
	max-width: 500px;
}

.transparent {
	opacity: 0;
}

a {
	color: #ffba00;
}

a:hover {
	color: #ffba00;
}

@media only screen and (max-width: 700px) {
	.pic {
		width: 100vw;
		height: 50vh;
	}

	.sideWrap {
		width: 100vw;
		position: relative;
	}

	.sideText {
		width: 100vw;
		margin-top: 50vh;
		position: relative;
		height: auto;
	}

	.header-section {
		height: auto;
	}

	.image-cover {
		display: none;
	}
}
