* {
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #41494d;
	overflow-x: hidden;
    background-color: rgb(247, 247, 247);
}
html, body{
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
	font-family: 'Secular One', sans-serif;
}


.pic {
	height: 100vh;
	width: 60vw;
	background-size: cover;
	position: absolute;
	background-image: url(../wideshot.JPG);
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	background-color: rgba(110, 255, 205, 0.37);
	background-blend-mode: difference;
    animation: picBlendColourAnim 8s infinite;
}

@keyframes picBlendColourAnim {
  0%   {background-color: rgba(110, 255, 205, 0.37);}
  25%  {background-color: rgba(211, 240, 47 , 0.37);}
  50%  {background-color: rgba(116, 210, 231, 0.37);}
  100% {background-color: rgba(110, 255, 205, 0.37);}
}

.pic h1 {
	color: #fff;
	font-size: 10vw;
}

.header-section {
	height: 100vh;
	position: relative;
	display: flex;
    overflow: hidden;
    background-color: white;
    min-height: 100vh;
    z-index: 10;
}

.sideWrap {
	position: absolute;
	width: 30vw;
	right: 0;
	
}
.wrapText{
    float:left;
    shape-outside: ellipse(33% 65% at 10px 50%);
    width:100%;
    height:100%;
}
.sideText {
	position: absolute;
	z-index: 5;
	height: 100vh;
	padding: 3vw;
	right: 0;
	width: 60vw;
	
}

.profile-pic {
	margin: 0px 20px;
    position: absolute;
    right: 0px;
	border-radius: 50%;
/*	float: right;*/
	overflow: hidden;
	height: 60px;
	width: 60px;
}

.profile-pic img {
	height: 100%;
	width: 100%;
}

.header-arrow{
	display: block;
	font-size: 3em;
	text-align: center;
	bottom:0px;
	position: relative;
	animation: arrowbounce 0.3s infinite;
  	animation-direction: alternate-reverse;
	animation-timing-function: ease-out;
	cursor: default;
}

@keyframes arrowbounce {
  	0% {transform: translateY(0px);}
  	100% {transform: translateY(10px);}
}
.image-cover {
	width: 100vw;
	top: -20%;
	height: 140%;
	position: relative;
	overflow: hidden;
}

.image-cover:before {
	content: '';
	position: absolute;
	right: 40vw;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 400px 0px 0px 300px #fff;
	max-width: 1024px;
}



.part2 {
	position: relative;
	z-index: 5;
	padding: 4%; /* change .bgslideffect padding too if this is changed*/
	/*	box-shadow: inset 0px 14px 50px -19px rgba(0, 0, 0, 0.48);*/
	min-height: 100vh;
    transition: color 0.8s;
}
.part2 .background{
	position: fixed;
	width: 100%;
	background-color: #156cd5;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: -1;
}

a.project-outer {
    color: #41494d;
	text-decoration: none;
    margin:auto;
    margin-top: 30px;
    display: block;
    max-width:1000px;
}
.project:hover{
	box-shadow: 0px 5px 30px -4px rgba(1, 25, 54, 0.7);
}
.project-outer:hover .projectLink {
	width: 66%;
}

.project-outer:hover .projectImage {

	transition: all 0.1s;
}

.project-outer:hover .projectImage img {
	right: -2%;
	left: -4%;
	transition: all 0.1s;
}

.project {
	margin: auto;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	
	box-shadow: 0px 5px 30px -4px rgba(0, 0, 0, 0.1);
	transition: all 0.1s;
}

.project > .projectImage {
	height: inherit;
	width: 40%;
	position: relative;
	overflow: hidden;
	border-radius: 0px 10px 10px 0px;
	transition: all 0.1s;
}

.projectImage img {
	position: absolute;
	left: 0%;
	height: 100%;
	width: 400px;
	object-position: center;
	transition: all 0.1s;
	object-fit: cover;
}

.project .projectLink {
	padding: 2% 3%;
	width: 60%;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	border-right: 10px solid #011936;
}

.projectLink .projectLink-inner {
	width: 47vw;
	max-width: 500px;
}

.transparent {
	opacity: 0;
}

a {
	color: #011936;
}

a:hover {
	color: #011936;
}

@media only screen and (max-width: 700px) {
	.pic {
		width: 100vw;
		height: 50vh;
	}

	.sideWrap {
		width: 100vw;
		position: relative;
	}

	.sideText {
		width: 100vw;
		margin-top: 50vh;
		position: relative;
		height: auto;
	}

	.header-section {
		height: auto;
	}

	.image-cover {
		display: none;
	}
}